<div class="col-md-9 col-sm-8 col-xs-12">
  <!-- FILTER AREA -->
  <%= render 'filter_area' %>
  <!-- PRODUCT GRID SECTION -->
  <div class="row">
    <%= render partial: 'product_box', collection: @products, as: :product %>
  </div>
</div>
