<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'shared/light_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <!-- LEFT SIDEBAR -->
      <%= render 'shared/sidebar' %>
      <!-- PRODUCTS -->
      <%= render 'products_content' %>
    </div>
  </div>
</section>

<!-- PARTNERS LOGO SECTION -->
<%= render 'shared/partners_logo_section' %>
