<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'shared/search_category', taxonomies: @taxonomies %>
  <%= render 'shared/search_price' %>
  <%= render 'shared/search_color' %>
  <%= render 'shared/search_size' %>
</div>
