<ul>
  <% @random_products.each_with_index do | product, i | %>
    <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide <%= i %>">
      <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
      <div class="slider-caption container">
        <div class="tp-caption rs-caption-1 sft start"
          data-hoffset="0"
          data-x="370"
          data-y="54"
          data-speed="800"
          data-start="1500"
          data-easing="Back.easeInOut"
          data-endspeed="300">
          <%= image_tag("home/banner-slider/shoe1.png", :alt => "slider-image") %>
        </div>

        <div class="tp-caption rs-caption-2 sft"
          data-hoffset="0"
          data-y="119"
          data-speed="800"
          data-start="2000"
          data-easing="Back.easeInOut"
          data-endspeed="300">
          <%= product.name %>
        </div>

        <div class="tp-caption rs-caption-3 sft"
          data-hoffset="0"
          data-y="185"
          data-speed="1000"
          data-start="3000"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off">
          Exclusive to <br>
          BigBag <br>
          <small>Spring / Summer 2020</small>
        </div>

        <div class="tp-caption rs-caption-4 sft"
          data-hoffset="0"
          data-y="320"
          data-speed="800"
          data-start="3500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off">
          <span class="page-scroll">
            <%= link_to(
            'Buy Now',
            potepan_product_path(product),
            class: "btn primary-btn",
            ) %>
            <i class="glyphicon glyphicon-chevron-right"></i>
          </span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
