<!-- BANNER -->
<%= render 'banner_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <%= render 'featured_products' %>
    <%= render 'latest_articles' %>
  </div>
</section>

<!-- PARTNERS LOGO SECTION -->
<%= render 'shared/partners_logo_section' %>
