<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
    </div>

    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/signup_modal' %>
    <%= render 'layouts/quick_view_modal' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
